# NSS Portal Frontend - Environment Variables Template
VITE_API_URL=http://localhost:8000
VITE_CLOUD_NAME=your_cloudinary_cloud_name
VITE_PDF_CLOUD_NAME=your_cloudinary_pdf_cloud_name
VITE_PDF_UPLOAD_PRESET=your_cloudinary_pdf_upload_preset
VITE_UPLOAD_PRESET=your_cloudinary_image_upload_preset
